---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
<<<<<<< HEAD
import Section1 from '../components/Section1.astro';
=======
import Emil from '../components/Emil.astro';
>>>>>>> Emil
---
<MainLayout title="Titel">

<Emil></Emil>
	<article>
		<p>Index indhold</p>
	</article>
</MainLayout>