---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Formular from "../components/Formular.astro";
import Merchandise from "../components/Merchandise.astro"
import Arbejder from "../components/Arbejder.astro";
import Hval from "../components/Hval.astro";
import Emil from '../components/Emil.astro';
import Section1 from '../components/Section1.astro';
import Footer from '../components/Footer.astro';
---
<MainLayout title="Titel">
	<article>
		<p>Index indhold</p>
	</article>

</MainLayout>