---
import Button from '../components/Button.astro';
---

<div class="max-w-3xl mx-auto grid grid-cols-1 gap-10 px-10 md:px-0 md:pb-36 pb-10">
<section class="mb-24 font-Rubik" >
<div>
    <h2 class="text-white md:text-5xl font-bold text-center md:pt-24 pt-5 md:pb-12 pb-5 leading-relaxed "
    >Vi kæmper for en verden uden plastikforurening</h2>
    <div class="grid grid-cols-1">

    <p class="text-white md:text-lg">Plastic Change arbejder dedikeret for at ændre denne dystre virkelighed og forme en mere bæredygtig fremtid. Plastic Change angriber problemet fra flere vinkler med det formål at ændre vores brug af plastik, spare på jordens ressourcer under produktionen og forhindre, at plastik ender som affald og forurening:
</p>

<ol class="list-decimal">
     <br> 
  <li class="text-orange font-bold">Mobilisering og befolkningsengagement:</li>
  <p class="text-white">Informerer og engagerer offentligheden gennem oplysninger om konsekvenserne af plastikforurening samt løsningsmulighederne.</p>
  <li class="text-orange font-bold">Politisk indflydelse og lovgivning: </li>
  <p class="text-white">Arbejder på politisk niveau for at opnå ambitiøse nationale mål for reduktion og genbrug af plastik.</p>
<li class="text-orange font-bold">Industrielt samarbejde og innovation: </li>
  <p class="text-white">Samarbejder med industrielle aktører for at udvikle og implementere konkrete løsninger og innovationer.</p>
  <li class="text-orange font-bold">Uddannelse og vidensformidling: </li>
  <p class="text-white">Indsamler viden, udarbejder undervisningsmateriale og uddanner blandt andet børn og unge om plastikforurening, produktion og forbrug på folkeskoler og gymnasier.</p>
</ol>

<p class="text-white md:text-lg"> <br> Indsamler viden, udarbejder undervisningsmateriale og uddanner blandt andet børn og unge om plastikforurening, produktion og forbrug på folkeskoler og gymnasier.

Da plastikforurening er et globalt problem, arbejder Plastic Change også internationalt for at sikre, at de bedste løsninger når Danmark, og at erfaringer og indsigter bidrager til den globale indsats mod plastikforurening.</p>

  <a href=""><br><Button variant="primary" size="medium">Støt nu</Button></a>   
    </div>
</div>
</section>