---
import Formular from "../components/Formular.astro";
---

<section class="grid grid-cols-1 gap-8 md:grid-cols-2 font-Rubik">

<div class="mt-20 ml-20 pl-12 pr-12">
<h3 class="text-white font-bold">Dit bidrag gør en forskel</h3>
<p class="text-white"><br> Beskyt naturen, dyrelivet og vores børn mod plastikforurening!
Plastikforurening truer livet i havet og på jorden. Hver dag bliver naturen overvældet af tusindvis af plaststykker, der aldrig forsvinder igen. Hvert minut skylles plastikaffald ud i havet, hvor det indpakker sig omkring sæler, skildpadder, delfiner og ender i maverne på hvaler, fugle og fisk.
Med dit bidrag kan vi kæmpe for, at politikere og virksomheder påtager sig ansvaret for at stoppe overproduktion og plastikforurening nu.</p> 
</div>

    <div>
<Formular></Formular>
    </div>
</section>
 