
<h1 class="text-center text-white text-size text-lg pb-8 font-Rubik font-bold">
    Plastikforurenings påvirkning på kloden 
</h1>

<section class=" lg:grid grid-cols-2 gap-0 lg:px-20 pb-8">

    <div class="">
        <img src="../../public/img1.png" class="w-6/6 h-auto" alt="En visuel repræsentation af de fem største plastiksupper i havet. ">
    </div>

    <div class=" text-left pt-10 lg:text-center text-white font-Rubik italic font-semibold text-xl leading-8 lg:pt-40 px-5 lg:px-20">
        <p>
            "<span class="text-high">Samlet set udgør de fem største plastiksupper et område med en samlet størrelse, der næsten svarer til hele Afrika.</span> Plastikken ender i forskellige områder afhængigt af dens oprindelse.”</p>
    </div>
    
</section>

 <!-- desktop -->

    <section class=" hidden lg:grid grid-cols-2 gap-0 lg:px-20 pb-8">

    <div class="text-left pt-10 lg:text-center text-white font-Rubik italic font-semibold text-xl leading-8 lg:pt-40 px-5 lg:px-20">
        <p>
            "<span class="text-high"> 5% af verdenshavets plastik er synligt på overfladen, mens 95% ligger under vandoverfladen</span>, dette udgør en skjult, men lige så alvorlig trussel for økosystemerne."</p>
    </div>

    <div class=" grid place-items-center">
        <img src="../../public/img2.png" class="w-4/6 h-auto" alt="Procenter over fordelingen af plastaffald i havet.">
    </div>

    </section>

    <!-- mobile -->

    <section class=" lg:hidden :grid grid-cols-2 gap-0 lg:px-20 pb-8">

    <div class=" grid place-items-center">
        <img src="../../public/img2.png" class="w-4/6 h-auto" alt="Procenter over fordelingen af plastaffald i havet.">
    </div>

    <div class="text-left pt-10 lg:text-center text-white font-Rubik italic font-semibold text-xl leading-8 lg:pt-40 px-5 lg:px-20">
        
        <p>
            "<span class="text-high"> 5% af verdenshavets plastik er synligt på overfladen, mens 95% ligger under vandoverfladen</span>, dette udgør en skjult, men lige så alvorlig trussel for økosystemerne."</p>
    </div>
    </section>

    <!-- 7 gode råd -->

    <section class=" bg-high grid grid-cols-1 gap-0 pb-8 px-10 lg:px-80">

        <h2 class="text-left text-black text-lg pb-8 pt-8 font-Rubik font-bold">
            Fra Bevidsthed til Handling 
        </h2>
        
        <p class="text-left text-black text-lg leading-8 font-Rubik pb-8 ">
            Plastforurening opstår primært som følge af dårlig håndtering af plastaffald, herunder ukorrekt bortskaffelse af engangsplastik og manglende genbrug eller genanvendelse af plastmaterialer.
            Meget plastik ender i naturen, hvor det har alvorlige konsekvenser for dyreliv, økosystemer og menneskers sundhed. Plastforurening er blevet et globalt miljøproblem, som kræver omfattende indsats fra regeringer, virksomheder og enkeltpersoner for at bekæmpe.
        </p>

        <p class="text-left text-black text-lg leading-8 font-Rubik pb-8">
            Hver lille handling tæller i kampen mod plastikforurening. Ved at øge vores bevidsthed og ændre vores vaner kan vi alle spille en rolle i at bevare vores planet. 
        </p>

        <h2 class="text-center text-white text-size text-5xl lg:text-6xl pt-8 font-Rubik font-bold">
            7 GODE RÅD
        </h2>

        <h3 class="text-center text-black text-size text-2xl lg:text-3xl pb-8 font-Rubik font-bold">
            IMOD PLASTIKSPILD
        </h3>


        <div class=" bg-high grid grid-cols-1 place-items-center pb-8">

            <div class="hidden md:block">
                <img src="../../public/img3.svg" class="w-6/6 h-auto" alt="7 gode råd">
            </div>

            <div class="md:hidden">
                <img src="../../public/img4.svg" class="w-6/6 h-auto" alt="7 gode råd">
            </div>

        </div>
    </section>



