---
import Button from '../components/Button.astro';
---

<section class="px-10 md:px-0 font-Rubik">

<div class="max-w-md mx-auto pb-36">
  <form class="bg-orange shadow-md px-8 pt-6 max-w-xl">

<div class="flex place-content-center gap-10 pt-20 pb-10">
<div class="pris">
<Button variant="tertiary" size="small">100</Button>
</div>

<div class="pris">
<Button variant="tertiary" size="small">150</Button>
</div>

<div class="pris">
<Button variant="tertiary" size="small">200</Button>
</div>
</div>

    <div class="mb-4">
      <div class="grid grid-cols-2">
        <label class="block text-white font-bold pt-2 pl-10 " for="belob">
         Valgfrit beløb
        </label>
        <input
          class=" border-white shadow appearance-none border py-2 px-4 mr-8 text-orange"
          id="Belob"
          type="text"
          placeholder="Valgfrit beløb"
        />
      </div>

    <div>
    <div class="mb-4 pt-10 pl-10">
      <div class="flex items-center">
        <input
          type="checkbox"
          class="form-checkbox rounded-full h-5 w-5 text-white"
          id="manedligt"
          name="manedligt"
        />
        <label class="ml-2 text-white font-bold focus:ring"  for="manedligt">
         Månedligt
        </label>
      </div>
    </div>

    <div class="mb-4 pb-10 pl-10">
      <div class="flex items-center">
        <input
          type="checkbox"
          class="form-checkbox h-5 w-5 text-white"
          id="engangs"
          name="engangs"
        />
        <label class="ml-2 text-white font-bold"  for="engangs">
         En gangs beløb
        </label>
      </div>
    </div>
    </div>
    <div class="flex justify-center p-5 pb-20"> 
      <a href="https://plasticchange.dk/giv-et-bidrag/"><Button variant="secondary" size="large">Støt nu</Button></a>
    </div>
     
    </div>
  </form>
</div>

</section>