---
import Formular from "./Formular.astro"
---
<article class="lg:grid grid-cols-2">
<section class="pt-32 lg:pt-20">
<div class="pl-7 lg:pl-24">
    <h1 class="text-3xl font-extrabold text-orange lg:text-6xl">#SingleUseSucks</h1>
    <h2 class="text-2xl font-extrabold text-white lg:text-5xl">Plastic Change</h2>
</div>
<div>
    <img class="" src="/public/hval_forside.svg" alt="Hval med bobler">
</div>
</section>
<section class="pt-10">
<Formular></Formular>
</section>
</article>