---
import Formular from "./Formular.astro"
---
<div>
    <video src="/public/endelige.mp4" autoplay loop muted></video>
</div>
<article class="lg:grid grid-cols-2 z-50">
<section class="pt-32 lg:pt-20">
<div class="pl-7 lg:pl-24">
    <h1 class="text-3xl font-extrabold text-orange lg:text-6xl">#SingleUseSucks</h1>
    <h2 class="text-2xl font-extrabold text-white lg:text-5xl">Plastic Change</h2>
</div>
</section>
<section class="pt-10 lg:pt-0">
<Formular></Formular>
</section>

</article><div class="flex justify-center">
<img src="/public/pil.svg" alt="pil ned">
</div>