---
import Button from '../components/Button.astro';
---

<section class="grid grid-cols-1 gap-8 md:grid-cols-2 font-Rubik ">
    <div>
<img class="" src="merchandise.png" alt="merchandise">
    </div>

<div class="mt-20 mr-20">
<h3 class="text-white font-bold">Beskyt vores planet med stil!</h3>
<p class="text-white"> <br> Vis din støtte til kampen mod plastikforurening ved at købe vores eksklusive merchandise. Med hvert køb bliver du ikke kun ejer af et fantastisk stykke beklædning eller tilbehør, men du bliver også en aktiv deltager i bevægelsen for at bevare vores natur, dyreliv og sikre en sund fremtid for vores børn.
<br> Vores merchandise er ikke blot mode - det er en erklæring. Når du bærer vores tøj eller accessories, sender du en klar besked om, at det er på tide at stoppe plastikforureningen nu.</p>
  <a href="https://www.hjemhavn.dk/collections/plastic-change-merchandise"><br><Button variant="primary" size="medium">Køb nu</Button></a>   
</div>
</section>
 