<section class="bg-zinc-900 text-white pl-12 pr-12 lg:pl-72 lg:pr-72 pt-10 pb-10">
<h2 class="text-m font-bold pb-3 lg:text-2xl">Hvad er plastikforurening?</h2>
<p class="pb-10 leading-7 text-sm">Plastikforurening er et voksende problem, der påvirker vores planet og dyreliv på alarmerende måder. Hver dag ender store mængder plastik i vores havmiljø og langs vores kyster, hvilket truer vores miljøs sundhed og biodiversitet.</p>
<h3 class="pb-10 text-m font-semibold text-center italic lg:text-xl">“ <span class="text-orange"> 90%</span> af al plastik fremstilles ved hjælp af fossile brændstoffer som <span class="text-orange"> olie, naturgas, kul </span> og andre <span class="text-orange">skadelige kemikalier</span>.”</h3>
<p class="pb-3 leading-7 text-sm">Engangsplastik udgør en stor del af vores plastikaffald. Det er plastik, der kun bruges én gang og derefter smides væk. Fra plastikposer til engangsservice er vores brug-og-smid-væk-kultur en stor bidragyder til plastikforurening. Plastikforurening har katastrofale konsekvenser for vores dyreliv. Havfugle, fisk, og andre marine dyr bliver fanget i plastikaffaldet eller spiser det, hvilket kan føre til alvorlige sundhedsproblemer og død.</p>
</section>

<section class="bg-white pl-12 pr-12 pb-16 lg:pl-32 lg:pr-32 lg:pt-10 lg:pb-10 lg:grid grid-cols-2 gap-20">
    <h3 class="pb-10 pt-20 text-m font-semibold italic lg:text-xl">Hvert år producerer vi over <span class="text-orange text-xl lg:text-2xl"> 400 mio.</span> tons plastik, og det forventes, at produktionen vil overstige <span class="text-orange text-xl lg:text-2xl">600 mio.</span> tons årligt inden 2025</h3>
    <img src="/public/section1.png" alt="diagram platik">
</section>
